<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
<body>
    <!--EXHIBINECTION-->
    <div class="header">
      <div class="border">
        <div class=" container-md ">
              <!--navbar1-->
              <%- include('./component_ejs/navbar1.ejs') %>
        </div>
      </div>
            <!--banner-->
            <%- include('./component_ejs/banner.ejs') %>
            <!--navbar-2-->
            <%- include('./component_ejs/navbar2.ejs') %>
            
          <!--card-->
          <%- include('./component_ejs/cart.ejs') %>
        <%- contents %>
        <div class="footer">
          <!--猜你也喜歡-->
          <div class="container-md <%- display %>">
              <div class="row">
                <div class="h1 fw-bold col-9 pb-11 pt-0 col-sm-6 pt-md-15 col-md-4" data-aos="fade-up">
                    猜你也喜歡...
                </div>
            </div>
            <!--swiper-->
            <%- include('./component_ejs/swiper.ejs') %>
          </div>
          <!--想收到最新消息嗎?-->
          <div class="footer_banner d-flex flex-column justify-content-end <%- display %>" data-aos="fade-up" style="background: url(./assets/images/footer_banner.jpg) center;background-size: cover;">
              <div class="container-md ">
                  <div class="row pb-md-10 pb-lg-5">
                    <div class="h1 text-white col-12">
                      想收到最新消息嗎？ 
                    </div>
                  <div class=" h1 text-white col-md-6 col-lg-4">
                    快訂閱我們！
                  </div>
                </div>
                <div class="row pb-15">
                  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class=" focus-clean btn btn-secondary px-17 py-4" type="button" id="button-addon2">訂閱</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!--footer底部bar-->
          <div class="container-md position-relative" data-aos="fade-up">
            <div class="d-flex justify-content-between  py-7 py-md-12">
              <div class="fromGroup d-flex align-items-center gap-7">
                <div class="  h3-md h4  mb-0">EXHIBINECTION</div>
                <div class=" h7 ">© 2020. All Rights Reserved.</div>
              </div>
              <div class=" linker d-flex  align-items-center gap-14 position-absolute top-50 end-0 translate-middle-y">
                <a class="d-inline-block h7 d-none d-sm-block text-gray_custom" href="#">Signin</a>
                <a class="d-inline-block h7 d-none d-sm-block text-gray_custom" href="#">Signup</a>
              </div>
            </div>
          </div>
        </div>
<!--載入套件-->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./assets/js/vendors.js"></script>
<script src="./assets/js/all.js"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
 AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: true, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
</script>
</body>
</html>

